@import "../../../scss/variables";

.contact-method {
  margin: 20px 0;
  display: grid;
  grid-template-areas:
    "icon title"
    "icon text";
  justify-content: left;

  i:hover {
    color: darken($meadow, 10%);
  }

  i {
    width: 45px;
    grid-area: icon;
    font-size: 2.2em;
    transition: 0.2s;
  }

  strong {
    grid-area: title;
  }

  span {
    grid-area: text;
  }
}

.contact-form {
  margin-top: 50px;
  max-width: 650px;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    input,
    textarea {
      padding: 2px;
      font-size: 0.9em;
      height: 1.8em;
      background-color: transparent;
      border: 2px solid transparent;
      border-bottom: 2px solid rgba($charcoal, 0.2);
    }

    textarea {
      margin: 10px 0;
      height: 12em;
    }
  }
}

@media (min-width: 768px) {
  .contact-method {
    i {
      width: 65px;
    }
  }
}
