<section class="page-section" #contact>
  <h1 class="page-section__title">contact</h1>

  <div class="page-section__element">
    <div class="contact-method">
      <i class="fas fa-map-marker-alt"></i>
      <strong>Location: </strong>
      <span>Wrocław / Remote</span>
    </div>
    <div class="contact-method">
      <i class="fas fa-envelope"></i>
      <strong>Email: </strong>
      <span>marek.rawdanowicz@outlook.com</span>
    </div>
    <div class="contact-method">
      <i class="fas fa-phone-alt"></i>
      <strong>Phone: </strong>
      <span>693 073 365</span>
    </div>

    <div class="contact-form">
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)">
        <div class="contact-form__item">
          <input
            placeholder="Name"
            type="text"
            name="name"
            formControlName="name"
          />
        </div>
        <div class="contact-form__item">
          <input
            placeholder="Email"
            type="email"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="contact-form__item">
          <textarea
            placeholder="How can I help you?"
            name="message"
            formControlName="message"
          >
          </textarea>
        </div>
        <button [disabled]="!messageForm.valid" type="submit" class="btn">
          <i class="fas fa-paper-plane"></i>Send
        </button>
      </form>
    </div>
  </div>
</section>
