<section class="page-section" #contact>
  <h1 class="page-section__title">contact</h1>

  <div class="page-section__element">
    <div class="contact">
      <div class="contact__icon">
        <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
      </div>
      <strong class="contact__title">Location: </strong>
      <span class="contact__content">Wrocław / Remote</span>
    </div>

    <div class="contact">
      <a
        class="contact__icon"
        href="mailto:marek.rawdanowicz@outlook.com"
        aria-label="Open email app"
        rel="noopener"
        ><i class="fas fa-envelope" aria-hidden="true"></i
      ></a>
      <strong class="contact__title">Email: </strong>
      <a
        class="contact__content"
        href="mailto:marek.rawdanowicz@outlook.com"
        aria-label="Open email app"
        rel="noopener"
        >marek.rawdanowicz@outlook.com</a
      >
    </div>

    <div class="contact">
      <a
        class="contact__icon"
        href="tel:+48693073365"
        aria-label="Call me"
        rel="noopener"
        ><i class="fas fa-phone-alt" aria-hidden="true"></i
      ></a>
      <strong class="contact__title">Phone: </strong>
      <a
        class="contact__content"
        href="tel:+48693073365"
        aria-label="Call me"
        rel="noopener"
        >693 073 365</a
      >
    </div>

    <div class="contact-form">
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)">
        <div class="contact-form__item">
          <input
            placeholder="Name"
            type="text"
            name="name"
            formControlName="name"
          />
        </div>
        <div class="contact-form__item">
          <input
            placeholder="Email"
            type="email"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="contact-form__item">
          <textarea
            placeholder="How can I help you?"
            name="message"
            formControlName="message"
          >
          </textarea>
        </div>
        <button [disabled]="!messageForm.valid" type="submit" class="btn">
          <i class="fas fa-paper-plane"></i>Send
        </button>
      </form>
    </div>
  </div>
</section>
