@import "../../../scss/variables";

.contact {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 45px auto;
  grid-template-areas:
    "icon title"
    "icon text";
  justify-content: left;

  &__icon {
    grid-area: icon;
    align-self: center;
    justify-self: center;
    margin-right: 50%;

    &:focus i,
    &:hover i {
      color: darken($red, 10%);
    }

    i {
      font-size: 2.2em;
      transition: color 0.2s;
    }
  }

  &__title {
    grid-area: title;
  }

  &__content {
    word-break: break-all;
    grid-area: text;
  }
}

.contact-form {
  margin-top: 50px;
  max-width: 650px;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    &--errors {
      height: 100px;
    }
  }

  &__input {
    padding: 0 2px;
    font-size: 1em;
    height: 1.8em;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid $white;
    z-index: 1;

    &:-webkit-autofill {
      box-shadow: 0;
      caret-color: #fff;
      border: 0;
      border-bottom: 2px solid $white;
      -webkit-text-fill-color: $white;
      -webkit-box-shadow: 0 0 0px 1000px lighten($dark, 5%) inset;
    }

    &:focus {
      outline: 1px solid $white;
    }
  }

  &__label {
    margin-left: 2px;
    z-index: 0;
    color: lighten($dark, 60%);
    transform: translateY(100%);
    transition: transform 0.2s, font-size 0.2s;
  }

  .active-label {
    transform: translateY(0);
    font-size: 0.6em;
  }

  &--message {
    height: 12em;
    resize: none;
  }

  &__error {
    color: lighten($red, 10%);
  }

  &__success {
    color: lighten(#55a630, 10%);
  }
}

@media (orientation: landscape) {
  .contact-section__element {
    flex-basis: 70%;
  }
}
