<main class="page-section" #about>
  <h1 class="page-section__title">about me</h1>
  <p class="page-section__element text">
    I am self-taught programmer. I believe everything can be done, it’s just a
    matter of time. There are no shorcuts for making things work, just coding
    and testing until it’s done. The biggest challenge with software development
    is to keep it simple. Make it for a user. That’s the mindset I’m always
    trying to keep.
  </p>
  <img
    class="page-section__element photo"
    src="../../../assets/about.jpg"
    alt="Photo of me"
  />
</main>
