<section class="page-section about-section" #about>
  <h2 class="page-section__title" data-aos="fade-left">about me</h2>

  <p
    class="page-section__element about-section__element"
    tabindex="0"
    data-aos="fade-up"
  >
    I am self-taught programmer. I believe everything can be done, it’s just a
    matter of time. There are no shortcuts for making things work, just coding
    and testing until it’s done. The biggest challenge with software development
    is to keep it simple. Make it for a user. That’s the mindset I’m always
    trying to keep.
  </p>
  <img
    class="page-section__element about-section__element photo"
    src="../../../assets/me.png"
    alt="My photo"
    aria-label="My photo"
    data-aos="fade-up"
  />
  <div class="page-section__break" data-aos="fade-up">
    <div class="page-section__break-line"></div>
  </div>
</section>
