.about-section__element--photo {
  max-width: 300px;
}

@media (min-width: 1024px) {
  .about-section {
    &__element {
      flex-basis: 45%;

      &--photo {
        justify-self: flex-start;
        margin: 20px auto 20px 0;
      }
    }
  }
}
