.about-section__element--photo {
  max-width: 300px;
}

@media (min-width: 1024px) {
  .about-section {
    margin: 40px auto 0 auto;
    width: 70%;

    &__title {
      margin-left: 0;
    }

    &__element {
      flex-basis: 45%;
    }
  }
}
