<main class="page-section">
  <h1 class="page-section__title">About me</h1>
  <p class="page-section__element text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eius
    reprehenderit non vero corporis quod voluptatum delectus architecto maiores
    voluptatibus illo odit iusto, porro voluptas doloribus ipsa deleniti nulla
    nostrum beatae quisquam exercitationem in ad labore itaque. Repellat error
    pariatur aspernatur molestiae impedit, omnis enim, ut quam officia porro
    reprehenderit.
  </p>
  <img
    class="page-section__element photo"
    src="../../../assets/about.jpg"
    alt="Photo of me"
  />
</main>
