.photo {
  max-width: 300px;
  border-radius: 2px;
}

@media (min-width: 1024px) {
  .page-section {
    margin: 40px auto 0 auto;
    width: 70%;

    &__element {
      flex-basis: 45%;
    }
  }
}
