<section class="page-section" #skills>
  <h1 class="page-section__title">my skills</h1>
  <div class="page-section__element icons">
    <div class="skill">
      <i id="html" class="devicon-html5-plain colored"></i>
      <label for="html" class="tooltip">HTML</label>
    </div>
    <div class="skill">
      <i id="css" class="devicon-css3-plain colored"></i>
      <label for="css" class="tooltip">CSS</label>
    </div>
    <div class="skill">
      <i id="js" class="devicon-javascript-plain colored"></i>
      <label for="js" class="tooltip">JavaScript</label>
    </div>
    <div class="skill">
      <i id="ts" class="devicon-typescript-plain colored"></i>
      <label for="ts" class="tooltip">TypeScript</label>
    </div>
    <div class="skill">
      <i id="ng" class="devicon-angularjs-plain colored"></i>
      <label for="ng" class="tooltip">Angular</label>
    </div>
    <div class="skill">
      <i id="sass" class="devicon-sass-original colored"></i>
      <label for="sass" class="tooltip">Sass</label>
    </div>
    <div class="skill">
      <i id="bt" class="devicon-bootstrap-plain colored"></i>
      <label for="bt" class="tooltip">Bootstrap</label>
    </div>
    <div class="skill">
      <i id="npm" class="devicon-npm-original-wordmark colored"></i>
      <label for="npm" class="tooltip">npm</label>
    </div>
    <div class="skill">
      <i id="git" class="devicon-git-plain colored"></i>
      <label for="git" class="tooltip">Git</label>
    </div>
  </div>
  <div class="page-section__element">
    Started with JavaScript and I’m here with TypeScript and Angular. This
    framework is just like me, everything has it’s place and there’s no
    uncertainty. Using SCSS helps me to write even neater and well organised
    code. I’m familiar with connecting to a third-party APIs and managing my
    project’s version with Git. Everything is running on Ubuntu server which is
    set up and configured by me. At last but not least I'm always thinking about
    accessibility and making my website easy to use for any user.
  </div>
</section>
