<section class="page-section" #projects>
  <h2 class="page-section__title" data-aos="fade-left">projects</h2>

  <div class="page-section__element projects-section">
    <div
      class="project-card project-card--notes"
      aria-label="My Notes app project"
      tabindex="0"
      data-aos="fade-up"
    >
      <div class="project-card__info">
        <span class="project-card__technology"><strong>Angular</strong></span>
        <span class="project-card__technology"><strong>Firebase</strong></span>
        <span class="project-card__technology"><strong>Bootstrap</strong></span>
        <div class="project-card__links">
          <a
            class="media__link"
            href="https://rawdanowiczdev-notes.netlify.app/"
            target="_blank"
            rel="noopener"
            aria-label="Open live demo"
            ><i class="far fa-eye media__icon" aria-hidden="true"></i
          ></a>
          <a
            class="media__link"
            href="https://github.com/rawdanowiczdev/notes-app/"
            target="_blank"
            rel="noopener"
            aria-label="View code on GitHub"
            ><i class="fab fa-github media__icon" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>

    <div
      class="project-card project-card--tictactoe"
      aria-label="My Tic Tac Toe project"
      tabindex="0"
      data-aos="fade-up"
    >
      <div class="project-card__info">
        <span class="project-card__technology"><strong>Angular</strong></span>
        <span class="project-card__technology"><strong>SCSS</strong></span>
        <span class="project-card__technology"><strong>PWA</strong></span>
        <div class="project-card__links">
          <a
            class="media__link"
            href="https://rawdanowiczdev-tictactoe.netlify.app/"
            target="_blank"
            rel="noopener"
            aria-label="Open live demo"
            ><i class="far fa-eye media__icon" aria-hidden="true"></i
          ></a>
          <a
            class="media__link"
            href="https://github.com/rawdanowiczdev/tic-tac-toe/"
            target="_blank"
            rel="noopener"
            aria-label="View code on GitHub"
            ><i class="fab fa-github media__icon" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section__break" data-aos="fade-up">
    <div class="page-section__break-line"></div>
  </div>
</section>
