<button
  type="button"
  class="hamburger"
  (click)="hamburgerOpen = !hamburgerOpen"
  [ngClass]="hamburgerOpen ? 'menu-open' : ''"
>
  <div class="hamburger__box">
    <div class="hamburger__bar"></div>
  </div>
</button>

<nav
  [ngClass]="hamburgerOpen ? 'menu-open' : ''"
  [ngClass]="showNav ? 'menu-visible' : ''"
>
  <ul class="navlist">
    <li>
      <a class="navlist__link"><i class="fas fa-user-alt"></i>About</a>
    </li>
    <li>
      <a class="navlist__link"><i class="fas fa-code"></i>Skills</a>
    </li>
    <li>
      <a class="navlist__link"><i class="fas fa-th"></i>Projects</a>
    </li>
    <li>
      <a class="navlist__link"><i class="fas fa-address-card"></i>Contact</a>
    </li>
    <li class="navlist__cv">
      <button class="navlist__link navlist__link--cv btn">
        <i class="fas fa-file-download"></i>Download CV
      </button>
    </li>
  </ul>
</nav>

<button type="button" class="scroll-top" (click)="scrollTop()">
  <i class="fas fa-chevron-circle-up"></i>
</button>
