<header #start>
  <img
    class="logo"
    src="../../../assets/logo.png"
    alt="Logo"
    aria-label="Logo"
  />

  <div class="title">
    <h1>Marek Rawdanowicz</h1>
    <h2>I'm a <span class="color">Frontend Developer</span></h2>
  </div>

  <div class="media">
    <a
      href="https://linkedin.com/in/marek-rawdanowicz-42994b1bb/"
      class="media__link"
      target="_blank"
      aria-label="Open LinkedIn"
      rel="noopener"
      ><i class="fab fa-linkedin media-icon" aria-hidden="true"></i
    ></a>
    <a
      href="https://github.com/marraw/"
      class="media__link"
      target="_blank"
      aria-label="Open GitHub"
      rel="noopener"
      ><i class="fab fa-github-square media-icon" aria-hidden="true"></i
    ></a>
    <a
      href="https://pl-pl.facebook.com/bananowy.marek"
      class="media__link"
      target="_blank"
      aria-label="Open Facebook"
      rel="noopener"
      ><i class="fab fa-facebook-square media-icon" aria-hidden="true"></i
    ></a>
  </div>
</header>

<div class="wave-wrapper wave-animation">
  <div class="wave-wrapper__inner bg-top">
    <div class="wave wave-top"></div>
  </div>
  <div class="wave-wrapper__inner bg-mid">
    <div class="wave wave-mid"></div>
  </div>
  <div class="wave-wrapper__inner bg-bot">
    <div class="wave wave-bot"></div>
  </div>
</div>
