<header>
  <div class="title">
    <h1>Marek Rawdanowicz</h1>
    <h2>I'm a <span class="color">Frontend Developer</span></h2>
  </div>

  <div class="media">
    <a href="" class="media__link"><i class="fab fa-linkedin"></i></a>
    <a href="" class="media__link"><i class="fab fa-github-square"></i></a>
    <a href="" class="media__link"><i class="fab fa-facebook-square"></i></a>
  </div>
</header>

<div class="wave-wrapper wave-animation">
  <div class="wave-wrapper__inner bg-top">
    <div
      class="wave wave-top"
      style="background-image: url(../../../assets/waves/wave-top.png)"
    ></div>
  </div>
  <div class="wave-wrapper__inner bg-mid">
    <div
      class="wave wave-mid"
      style="background-image: url(../../../assets/waves/wave-mid.png)"
    ></div>
  </div>
  <div class="wave-wrapper__inner bg-bot">
    <div
      class="wave wave-bot"
      style="background-image: url(../../../assets/waves/wave-bot.png)"
    ></div>
  </div>
</div>
