@import "../../../scss/variables";

header {
  text-align: center;

  .logo {
    position: absolute;
    z-index: 5;
    top: 4vh;
    right: 2vw;
    width: 25vh;
    max-width: 270px;
  }

  .title {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 5;

    h2 {
      margin-top: 15px;

      .color {
        color: $rose;
      }
    }
  }

  .media {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    z-index: 5;

    &__link {
      margin: 0 15px;
      font-size: 25px;
    }
  }
}

.wave-box {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 5vh;
  width: 100%;

  &__inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: calc(100% + 1px);
    background-image: linear-gradient(
      to top,
      lighten($meadow, 25%) 30%,
      lighten($seaweed, 15%) 70%
    );
  }
}

.bg--top {
  z-index: 3;
  opacity: 0.5;
}

.bg--mid {
  z-index: 2;
  opacity: 0.75;
}

.bg--bot {
  z-index: 1;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300%;
  height: 15%;
  background-size: 50% 30px;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave--top {
  background-image: url(../../../assets/waves/wave-top.png);
  animation: move_wave 5s linear infinite;
}

.wave--mid {
  background-image: url(../../../assets/waves/wave-mid.png);
  animation: move_wave 15s linear infinite;
}

.wave--bot {
  background-image: url(../../../assets/waves/wave-bot.png);
  animation: move_wave 20s linear infinite;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) scaleY(0.5);
  }
  100% {
    transform: translateX(-50%) scaleY(1);
  }
}

@media (orientation: landscape) {
  header {
    .logo {
      width: 25vw;
    }
    .media {
      top: 55%;
    }
  }

  .wave {
    background-size: 50% 50px;
  }
}

@media (min-width: 768px) {
  .wave {
    background-size: 50% 70px;
  }
}

@media (min-width: 1024px) {
  header {
    text-align: left;

    .title {
      left: 25vw;
    }

    .media {
      top: 45%;
      left: calc(25vw - 15px);
    }
  }

  .wave {
    background-size: 50% 90px;
  }
}

@media (min-width: 1280px) {
  .wave {
    background-size: 50% 110px;
  }
}
