@import "../../../scss/variables";

header {
  text-align: center;

  .logo {
    position: absolute;
    z-index: 5;
    top: 15px;
    right: 10px;
    width: 130px;
  }

  .title {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 5;
    color: $charcoal;

    h1 {
      font-size: 30px;
    }

    h2 {
      margin-top: 15px;
      font-size: 20px;

      .color {
        color: $rose;
      }
    }
  }

  .media {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    z-index: 5;

    &__link {
      margin: 0 15px;
      font-size: 25px;
      color: $charcoal;
    }
  }
}

// Waves animation adapted from Jelena Jovanovic's project and modified by me.
.wave-wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  top: 0;
  margin: auto;

  &__inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: calc(100% + 1px);
    bottom: -1px;
    background-image: linear-gradient(
      to top,
      lighten($seaweed, 20%) 20%,
      lighten($meadow, 10%) 80%
    );
  }
}

.bg-top {
  z-index: 3;
  opacity: 0.5;
}

.bg-mid {
  z-index: 2;
  opacity: 0.75;
}

.bg-bot {
  z-index: 1;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-size: 50% 40px;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave-animation .wave-top {
  animation: move_wave 5s linear infinite;
}

.wave-animation .wave-mid {
  animation: move_wave 15s linear infinite;
}

.wave-animation .wave-bot {
  animation: move_wave 20s linear infinite;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@media (min-width: 360px) {
  .wave {
    background-size: 50% 50px;
  }
}

@media (orientation: landscape) {
  header {
    .media {
      top: 52%;
    }
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  header {
    .logo {
      top: 25px;
      right: 15px;
      width: 200px;
    }

    .title {
      h1 {
        font-size: 60px;
      }

      h2 {
        font-size: 40px;
      }
    }

    .media {
      &__link {
        margin: 0 25px;
        font-size: 45px;
      }
    }
  }

  .wave-wrapper {
    bottom: 30px;

    .wave {
      background-size: 50% 80px;
    }
  }
}

@media (min-width: 1024px) {
  header {
    text-align: left;

    .logo {
      top: 25px;
      right: 20px;
      width: 220px;
    }

    .title {
      left: 25vw;

      h1 {
        font-size: 55px;
      }

      h2 {
        font-size: 35px;
      }
    }

    .media {
      top: 45%;
      left: 25vw;

      &__link {
        margin: 0 50px 0 2px;
      }

      &__link i {
        font-size: 45px;
        transition: 0.2s;

        &:hover {
          color: $rose;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  header {
    .logo {
      top: 30px;
      right: 25px;
      width: 250px;
    }
  }
  .wave {
    background-size: 50% 120px;
  }
}
