@import "../scss/variables";

.container {
  display: grid;
  grid-template-rows: 100vh auto auto;
  grid-template-areas:
    "content"
    "footer";
  overflow: hidden;
}

.content {
  z-index: 4;
  grid-area: "content";
  background: $dark;
}

.footer {
  z-index: 4;
  grid-area: "footer";
}

@media (min-width: 1024px) {
  .content {
    padding-left: 15vw;
  }
}
