<footer>
  <img
    class="logo"
    src="../../../assets/logo.png"
    alt="Logo rawdanowiczdev.pl"
    aria-label="Logo rawdanowiczdev.pl"
  />

  <div class="media">
    <a
      href="https://github.com/rawdanowiczdev/"
      class="media__link"
      target="_blank"
      aria-label="Open GitHub"
      rel="noopener"
      ><i class="fab fa-github-square media__icon" aria-hidden="true"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/marek-rawdanowicz/"
      class="media__link"
      target="_blank"
      aria-label="Open LinkedIn"
      rel="noopener"
      ><i class="fab fa-linkedin media__icon" aria-hidden="true"></i
    ></a>
    <a
      href="https://pl-pl.facebook.com/bananowy.marek"
      class="media__link"
      target="_blank"
      aria-label="Open Facebook"
      rel="noopener"
      ><i class="fab fa-facebook-square media__icon" aria-hidden="true"></i
    ></a>
  </div>

  <strong class="footer__text">Marek Rawdanowicz</strong>

  <small class="footer__text">Copyright &copy; {{ year }} </small>
</footer>
