@import "../../../scss/variables";

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: $dark;

  .logo {
    margin: -10px 0 -30px 0;
    width: 200px;
  }

  .author,
  .copyright {
    font-family: "Lato", sans-serif;
  }

  .media {
    &__link {
      margin: 0 15px;
    }
  }
}
