body {
  background-color: $white;
}

a {
  -webkit-tap-highlight-color: rgba(lighten($rose, 20%), $alpha: 0.4);
  color: $seaweed;
}

button {
  outline-color: $rose;
  white-space: nowrap;
}

.page-section {
  align-items: center;

  &__title {
    margin: 80px 0 50px 15%;
    font-size: 1.8em;
    color: $charcoal;

    &::first-letter {
      content: "";
      font-size: 1.4em;
      background-color: $meadow;
    }
  }

  &__element {
    display: block;
    margin: 25px auto;
    height: 100%;
    width: 85%;
    text-align: justify;
    color: $charcoal;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .page-section {
    &__title {
      font-size: 50px;

      &::after {
        width: 120px;
      }
    }

    &__element {
      margin: 35px auto;
      width: 80%;
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

@media (orientation: landscape) {
  .page-section {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;

    &__title {
      flex-basis: 100%;
    }

    &__element {
      width: 0;
      flex-basis: 65%;
    }
  }
}

@media (min-width: 1024px) {
  .page-section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    &__title {
      font-size: 40px;
    }

    &__element {
      font-size: 20px;
    }
  }
}
