* {
  color: $white;
}

::selection {
  background-color: rgba($red, 0.6);
}

body {
  background-color: #111119;
}

header,
a,
button,
p,
div,
svg,
i {
  outline: 0;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    outline: $white 2px solid;
  }
}

@-moz-document url-prefix() {
  header,
  a,
  button,
  p,
  div,
  svg,
  i {
    &:focus {
      outline: $white 2px solid;
    }
  }
}

.media__icon {
  transition: color 0.2s;
}

.btn {
  white-space: nowrap;
  padding: 10px 15px !important;
  background-color: darken($red, 5%);
  border-radius: 2px;
  color: $white !important;
  border: 0;
  transition: background-color 0.2s, transform 0.2s, color 0.2s;
  cursor: pointer;

  i {
    margin-right: 10px;
    color: $white;
  }

  &:focus,
  &:hover {
    background-color: darken($red, 20%);
    transform: scale(1.1) translateX(0) !important;
  }

  &:disabled {
    background-color: lighten($red, 10%);
    transform: scale(1) !important;
  }
}

.page-section {
  margin-top: 40px;

  &__title {
    font-size: 1.8em;
    margin: 0 0 40px 15%;

    &::first-letter {
      content: "";
      font-size: 1.4em;
      background-color: $red;
    }
  }

  &__element {
    display: block;
    margin: 50px auto;
    height: 100%;
    width: 85%;
    line-height: 1.5em;
    text-align: justify;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .page-section {
    &__title {
      font-size: 2.5em;
    }

    &__element {
      margin: 35px auto;
      width: 80%;
    }
  }
}

@media (orientation: landscape) {
  .page-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__title {
      flex-basis: 100%;
    }

    &__element {
      margin: 10px auto;
      flex-basis: 40%;
      width: 0;
    }
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .btn {
    &--cv {
      font-size: 0.85em !important;

      & i {
        transform: translateX(0) !important;
        color: $white !important;
      }
    }
  }

  .page-section {
    margin: 40px 20px 0 20px;

    &__title {
      font-size: 2.6em;
    }

    &__element {
      flex-basis: 65%;
      margin: 20px auto;
    }
  }

  .media__link {
    &:focus .media__icon,
    &:hover .media__icon {
      color: darken($red, 10%) !important;
    }
  }
}
